In [ ]:
#Author: Naina Balepur
#nainab2@illinois.edu
#This file takes 2016_allStates_tweets.csv and labels users with gender and race 
#according to condensed_lastnames.csv and condensed_firstnames.csv

In [1]:
import pandas
import numpy as np

df = pandas.read_csv('2016_allStates_tweets.csv', encoding='utf8', engine='python')
df

,Unnamed: 0,Unnamed: 0.1,id,conversation_id,created_at,date,timezone,place,tweet,language,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,0,0,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,#WouldYouRather I would rather be swarmed by...,en,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1,1,7.95778E+17,7.95439E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@CNNPolitics one more day to listen to Trump's...,en,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'CNNPolitics', 'name': 'CNN P...",NaN,NaN,NaN,NaN
2,2,2,7.95778E+17,7.95769E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@JaredWyand @kinni00 Donald Trump is the energ...,en,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'JaredWyand', 'name': 'Jared ...",NaN,NaN,NaN,NaN
3,3,3,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,"Dudes, the presidential race looks damn close....",en,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,4,4,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@JasonMillerinDC You conduct Trump business in...,en,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68161,416,151,7.9564E+17,7.9564E+17,1.478530e+12,11/7/2016 6:51,-800,"{'type': 'Point', 'coordinates': [42.33166667,...","Bro told me, 1/2 of mi is #voting for Trump. I...",en,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
68162,417,0,7.85811E+17,7.85811E+17,1.476190e+12,10/11/2016 4:55,-800,"{'type': 'Point', 'coordinates': [42.79479867,...",Wow the extent to which Russia is tying to inf...,en,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
68163,418,1,7.50037E+17,7.50024E+17,1.467660e+12,7/4/2016 11:42,-800,"{'type': 'Point', 'coordinates': [42.676691, -...",@CNN Where are Trump's tax returns?What is he ...,en,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'CNN', 'name': 'CNN', 'id': '...",NaN,NaN,NaN,NaN
68164,419,2,7.49628E+17,7.49628E+17,1.467560e+12,7/3/2016 8:38,-800,"{'type': 'Point', 'coordinates': [42.6767285, ...",Where are Trump's tax returns? # deceptive Don...,en,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
68165,420,3,7.49627E+17,7.49626E+17,1.467560e+12,7/3/2016 8:34,-800,"{'type': 'Point', 'coordinates': [42.6767223, ...",@TIME Where are Trump's tax returns? # decepti...,en,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'TIME', 'name': 'TIME', 'id':...",NaN,NaN,NaN,NaN

In [2]:
new = df["name"].str.split(" ", expand = True)

df["user_fn"]= new[0] 
df["user_ln"]= new[1] 

df

,Unnamed: 0,Unnamed: 0.1,id,conversation_id,created_at,date,timezone,place,tweet,language,...,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,user_fn,user_ln
0,0,0,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,#WouldYouRather I would rather be swarmed by...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,S.,P.
1,1,1,7.95778E+17,7.95439E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@CNNPolitics one more day to listen to Trump's...,en,...,NaN,NaN,NaN,"[{'screen_name': 'CNNPolitics', 'name': 'CNN P...",NaN,NaN,NaN,NaN,Michael,Alp
2,2,2,7.95778E+17,7.95769E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@JaredWyand @kinni00 Donald Trump is the energ...,en,...,NaN,NaN,NaN,"[{'screen_name': 'JaredWyand', 'name': 'Jared ...",NaN,NaN,NaN,NaN,GABRIEL,G
3,3,3,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,"Dudes, the presidential race looks damn close....",en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,Seething,Sister
4,4,4,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@JasonMillerinDC You conduct Trump business in...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,Winton,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68161,416,151,7.9564E+17,7.9564E+17,1.478530e+12,11/7/2016 6:51,-800,"{'type': 'Point', 'coordinates': [42.33166667,...","Bro told me, 1/2 of mi is #voting for Trump. I...",en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,LDMMia,|
68162,417,0,7.85811E+17,7.85811E+17,1.476190e+12,10/11/2016 4:55,-800,"{'type': 'Point', 'coordinates': [42.79479867,...",Wow the extent to which Russia is tying to inf...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,Shawn,Plummer
68163,418,1,7.50037E+17,7.50024E+17,1.467660e+12,7/4/2016 11:42,-800,"{'type': 'Point', 'coordinates': [42.676691, -...",@CNN Where are Trump's tax returns?What is he ...,en,...,NaN,NaN,NaN,"[{'screen_name': 'CNN', 'name': 'CNN', 'id': '...",NaN,NaN,NaN,NaN,AttheGuinnesstap,None
68164,419,2,7.49628E+17,7.49628E+17,1.467560e+12,7/3/2016 8:38,-800,"{'type': 'Point', 'coordinates': [42.6767285, ...",Where are Trump's tax returns? # deceptive Don...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,AttheGuinnesstap,None
68165,420,3,7.49627E+17,7.49626E+17,1.467560e+12,7/3/2016 8:34,-800,"{'type': 'Point', 'coordinates': [42.6767223, ...",@TIME Where are Trump's tax returns? # decepti...,en,...,NaN,NaN,NaN,"[{'screen_name': 'TIME', 'name': 'TIME', 'id':...",NaN,NaN,NaN,NaN,AttheGuinnesstap,None

In [3]:
df_race = pandas.read_csv('condensed_lastnames.csv', header=None)
df_race.columns = ["last_names", "race/ethnicity"]
df_race

         last_names race/ethnicity
0            MILLER          white
1            MURPHY          white
2              COOK          white
3          PETERSON          white
4               COX          white
...             ...            ...
136051  CHILLOGALLO       hispanic
136052  CUATIANQUIZ       hispanic
136053       DICENT       hispanic
136054   DELATEJERA       hispanic
136055        EGUES       hispanic

[136056 rows x 2 columns]

In [4]:
df["user_ln"] = df["user_ln"].str.lower()
df_tweets_ln = df.set_index('user_ln')

df_race["last_names"] = df_race["last_names"].str.lower()
df_race_ln = df_race.set_index('last_names')

df_tweets_ln[['race/ethnicity']] = df_race_ln[['race/ethnicity']]
df_tweets_ln

,Unnamed: 0,Unnamed: 0.1,id,conversation_id,created_at,date,timezone,place,tweet,language,...,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,user_fn,race/ethnicity
user_ln,,,,,,,,,,,,,,,,,,,,,
p.,0,0,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,#WouldYouRather I would rather be swarmed by...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,S.,NaN
alp,1,1,7.95778E+17,7.95439E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@CNNPolitics one more day to listen to Trump's...,en,...,NaN,NaN,NaN,"[{'screen_name': 'CNNPolitics', 'name': 'CNN P...",NaN,NaN,NaN,NaN,Michael,NaN
g,2,2,7.95778E+17,7.95769E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@JaredWyand @kinni00 Donald Trump is the energ...,en,...,NaN,NaN,NaN,"[{'screen_name': 'JaredWyand', 'name': 'Jared ...",NaN,NaN,NaN,NaN,GABRIEL,NaN
sister,3,3,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,"Dudes, the presidential race looks damn close....",en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,Seething,NaN
NaN,4,4,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@JasonMillerinDC You conduct Trump business in...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,Winton,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
|,416,151,7.9564E+17,7.9564E+17,1.478530e+12,11/7/2016 6:51,-800,"{'type': 'Point', 'coordinates': [42.33166667,...","Bro told me, 1/2 of mi is #voting for Trump. I...",en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,LDMMia,NaN
plummer,417,0,7.85811E+17,7.85811E+17,1.476190e+12,10/11/2016 4:55,-800,"{'type': 'Point', 'coordinates': [42.79479867,...",Wow the extent to which Russia is tying to inf...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,Shawn,NaN
NaN,418,1,7.50037E+17,7.50024E+17,1.467660e+12,7/4/2016 11:42,-800,"{'type': 'Point', 'coordinates': [42.676691, -...",@CNN Where are Trump's tax returns?What is he ...,en,...,NaN,NaN,NaN,"[{'screen_name': 'CNN', 'name': 'CNN', 'id': '...",NaN,NaN,NaN,NaN,AttheGuinnesstap,NaN
NaN,419,2,7.49628E+17,7.49628E+17,1.467560e+12,7/3/2016 8:38,-800,"{'type': 'Point', 'coordinates': [42.6767285, ...",Where are Trump's tax returns? # deceptive Don...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,AttheGuinnesstap,NaN
NaN,420,3,7.49627E+17,7.49626E+17,1.467560e+12,7/3/2016 8:34,-800,"{'type': 'Point', 'coordinates': [42.6767223, ...",@TIME Where are Trump's tax returns? # decepti...,en,...,NaN,NaN,NaN,"[{'screen_name': 'TIME', 'name': 'TIME', 'id':...",NaN,NaN,NaN,NaN,AttheGuinnesstap,NaN

In [5]:
df_with_race = df_tweets_ln.reset_index()
df_with_race

,user_ln,Unnamed: 0,Unnamed: 0.1,id,conversation_id,created_at,date,timezone,place,tweet,...,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,user_fn,race/ethnicity
0,p.,0,0,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,#WouldYouRather I would rather be swarmed by...,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,S.,NaN
1,alp,1,1,7.95778E+17,7.95439E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@CNNPolitics one more day to listen to Trump's...,...,NaN,NaN,NaN,"[{'screen_name': 'CNNPolitics', 'name': 'CNN P...",NaN,NaN,NaN,NaN,Michael,NaN
2,g,2,2,7.95778E+17,7.95769E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@JaredWyand @kinni00 Donald Trump is the energ...,...,NaN,NaN,NaN,"[{'screen_name': 'JaredWyand', 'name': 'Jared ...",NaN,NaN,NaN,NaN,GABRIEL,NaN
3,sister,3,3,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,"Dudes, the presidential race looks damn close....",...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,Seething,NaN
4,None,4,4,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@JasonMillerinDC You conduct Trump business in...,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,Winton,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68161,|,416,151,7.9564E+17,7.9564E+17,1.478530e+12,11/7/2016 6:51,-800,"{'type': 'Point', 'coordinates': [42.33166667,...","Bro told me, 1/2 of mi is #voting for Trump. I...",...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,LDMMia,NaN
68162,plummer,417,0,7.85811E+17,7.85811E+17,1.476190e+12,10/11/2016 4:55,-800,"{'type': 'Point', 'coordinates': [42.79479867,...",Wow the extent to which Russia is tying to inf...,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,Shawn,NaN
68163,None,418,1,7.50037E+17,7.50024E+17,1.467660e+12,7/4/2016 11:42,-800,"{'type': 'Point', 'coordinates': [42.676691, -...",@CNN Where are Trump's tax returns?What is he ...,...,NaN,NaN,NaN,"[{'screen_name': 'CNN', 'name': 'CNN', 'id': '...",NaN,NaN,NaN,NaN,AttheGuinnesstap,NaN
68164,None,419,2,7.49628E+17,7.49628E+17,1.467560e+12,7/3/2016 8:38,-800,"{'type': 'Point', 'coordinates': [42.6767285, ...",Where are Trump's tax returns? # deceptive Don...,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,AttheGuinnesstap,NaN
68165,None,420,3,7.49627E+17,7.49626E+17,1.467560e+12,7/3/2016 8:34,-800,"{'type': 'Point', 'coordinates': [42.6767223, ...",@TIME Where are Trump's tax returns? # decepti...,...,NaN,NaN,NaN,"[{'screen_name': 'TIME', 'name': 'TIME', 'id':...",NaN,NaN,NaN,NaN,AttheGuinnesstap,NaN

In [6]:
df_with_race.groupby('race/ethnicity').count()

,user_ln,Unnamed: 0,Unnamed: 0.1,id,conversation_id,created_at,date,timezone,place,tweet,...,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,user_fn
race/ethnicity,,,,,,,,,,,,,,,,,,,,,
api,692,692,692,692,692,692,692,692,590,692,...,0,0,0,0,692,0,0,0,0,692
black,216,216,216,216,216,216,216,216,216,216,...,0,0,0,0,216,0,0,0,0,216
hispanic,1488,1488,1488,1488,1488,1488,1488,1488,1389,1488,...,0,0,0,0,1488,0,0,0,0,1488
white,13993,14154,14128,14128,14128,14128,14128,14128,12629,14128,...,0,0,0,0,13994,0,0,0,0,13993

In [7]:
df_gender = pandas.read_csv('condensed_first_names.csv', header=None)
df_gender.columns = ['firstnames', 'gender', 'count', 'grouped', 'grouped_percent']
df_gender.drop(['count', 'grouped', 'grouped_percent'], axis = 1, inplace = True)
df_gender

      firstnames gender
0          James      M
1           John      M
2         Robert      M
3        Michael      M
4           Mary      F
...          ...    ...
90803    Crettie      F
90804   Jolieann      F
90805     Lonika      F
90806     Jolian      M
90807      Zzyzx      M

[90808 rows x 2 columns]

In [8]:
df_with_race["user_fn"] = df_with_race["user_fn"].str.lower()
df_tweets_fn = df_with_race.set_index('user_fn')
display(df_tweets_fn)

df_gender["firstnames"] = df_gender["firstnames"].str.lower()
df_gender_fn = df_gender.set_index('firstnames')
display(df_gender_fn)

df_tweets_fn[['gender']] = df_gender_fn[['gender']]

,user_ln,Unnamed: 0,Unnamed: 0.1,id,conversation_id,created_at,date,timezone,place,tweet,...,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,race/ethnicity
user_fn,,,,,,,,,,,,,,,,,,,,,
s.,p.,0,0,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,#WouldYouRather I would rather be swarmed by...,...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN
michael,alp,1,1,7.95778E+17,7.95439E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@CNNPolitics one more day to listen to Trump's...,...,NaN,NaN,NaN,NaN,"[{'screen_name': 'CNNPolitics', 'name': 'CNN P...",NaN,NaN,NaN,NaN,NaN
gabriel,g,2,2,7.95778E+17,7.95769E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@JaredWyand @kinni00 Donald Trump is the energ...,...,NaN,NaN,NaN,NaN,"[{'screen_name': 'JaredWyand', 'name': 'Jared ...",NaN,NaN,NaN,NaN,NaN
seething,sister,3,3,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,"Dudes, the presidential race looks damn close....",...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN
winton,None,4,4,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@JasonMillerinDC You conduct Trump business in...,...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ldmmia,|,416,151,7.9564E+17,7.9564E+17,1.478530e+12,11/7/2016 6:51,-800,"{'type': 'Point', 'coordinates': [42.33166667,...","Bro told me, 1/2 of mi is #voting for Trump. I...",...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN
shawn,plummer,417,0,7.85811E+17,7.85811E+17,1.476190e+12,10/11/2016 4:55,-800,"{'type': 'Point', 'coordinates': [42.79479867,...",Wow the extent to which Russia is tying to inf...,...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN
attheguinnesstap,None,418,1,7.50037E+17,7.50024E+17,1.467660e+12,7/4/2016 11:42,-800,"{'type': 'Point', 'coordinates': [42.676691, -...",@CNN Where are Trump's tax returns?What is he ...,...,NaN,NaN,NaN,NaN,"[{'screen_name': 'CNN', 'name': 'CNN', 'id': '...",NaN,NaN,NaN,NaN,NaN
attheguinnesstap,None,419,2,7.49628E+17,7.49628E+17,1.467560e+12,7/3/2016 8:38,-800,"{'type': 'Point', 'coordinates': [42.6767285, ...",Where are Trump's tax returns? # deceptive Don...,...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN
attheguinnesstap,None,420,3,7.49627E+17,7.49626E+17,1.467560e+12,7/3/2016 8:34,-800,"{'type': 'Point', 'coordinates': [42.6767223, ...",@TIME Where are Trump's tax returns? # decepti...,...,NaN,NaN,NaN,NaN,"[{'screen_name': 'TIME', 'name': 'TIME', 'id':...",NaN,NaN,NaN,NaN,NaN

           gender
firstnames
james           M
john            M
robert          M
michael         M
mary            F
...           ...
crettie         F
jolieann        F
lonika          F
jolian          M
zzyzx           M

[90808 rows x 1 columns]

In [9]:
df_tweets_fn

,user_ln,Unnamed: 0,Unnamed: 0.1,id,conversation_id,created_at,date,timezone,place,tweet,...,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,race/ethnicity,gender
user_fn,,,,,,,,,,,,,,,,,,,,,
s.,p.,0,0,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,#WouldYouRather I would rather be swarmed by...,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
michael,alp,1,1,7.95778E+17,7.95439E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@CNNPolitics one more day to listen to Trump's...,...,NaN,NaN,NaN,"[{'screen_name': 'CNNPolitics', 'name': 'CNN P...",NaN,NaN,NaN,NaN,NaN,M
gabriel,g,2,2,7.95778E+17,7.95769E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@JaredWyand @kinni00 Donald Trump is the energ...,...,NaN,NaN,NaN,"[{'screen_name': 'JaredWyand', 'name': 'Jared ...",NaN,NaN,NaN,NaN,NaN,M
seething,sister,3,3,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,"Dudes, the presidential race looks damn close....",...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
winton,None,4,4,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@JasonMillerinDC You conduct Trump business in...,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ldmmia,|,416,151,7.9564E+17,7.9564E+17,1.478530e+12,11/7/2016 6:51,-800,"{'type': 'Point', 'coordinates': [42.33166667,...","Bro told me, 1/2 of mi is #voting for Trump. I...",...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
shawn,plummer,417,0,7.85811E+17,7.85811E+17,1.476190e+12,10/11/2016 4:55,-800,"{'type': 'Point', 'coordinates': [42.79479867,...",Wow the extent to which Russia is tying to inf...,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,M
attheguinnesstap,None,418,1,7.50037E+17,7.50024E+17,1.467660e+12,7/4/2016 11:42,-800,"{'type': 'Point', 'coordinates': [42.676691, -...",@CNN Where are Trump's tax returns?What is he ...,...,NaN,NaN,NaN,"[{'screen_name': 'CNN', 'name': 'CNN', 'id': '...",NaN,NaN,NaN,NaN,NaN,NaN
attheguinnesstap,None,419,2,7.49628E+17,7.49628E+17,1.467560e+12,7/3/2016 8:38,-800,"{'type': 'Point', 'coordinates': [42.6767285, ...",Where are Trump's tax returns? # deceptive Don...,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
attheguinnesstap,None,420,3,7.49627E+17,7.49626E+17,1.467560e+12,7/3/2016 8:34,-800,"{'type': 'Point', 'coordinates': [42.6767223, ...",@TIME Where are Trump's tax returns? # decepti...,...,NaN,NaN,NaN,"[{'screen_name': 'TIME', 'name': 'TIME', 'id':...",NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_race_and_gender = df_tweets_fn.reset_index()

In [11]:
df_race_and_gender

,user_fn,user_ln,Unnamed: 0,Unnamed: 0.1,id,conversation_id,created_at,date,timezone,place,...,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,race/ethnicity,gender
0,s.,p.,0,0,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
1,michael,alp,1,1,7.95778E+17,7.95439E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,...,NaN,NaN,NaN,"[{'screen_name': 'CNNPolitics', 'name': 'CNN P...",NaN,NaN,NaN,NaN,NaN,M
2,gabriel,g,2,2,7.95778E+17,7.95769E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,...,NaN,NaN,NaN,"[{'screen_name': 'JaredWyand', 'name': 'Jared ...",NaN,NaN,NaN,NaN,NaN,M
3,seething,sister,3,3,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
4,winton,None,4,4,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68161,ldmmia,|,416,151,7.9564E+17,7.9564E+17,1.478530e+12,11/7/2016 6:51,-800,"{'type': 'Point', 'coordinates': [42.33166667,...",...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
68162,shawn,plummer,417,0,7.85811E+17,7.85811E+17,1.476190e+12,10/11/2016 4:55,-800,"{'type': 'Point', 'coordinates': [42.79479867,...",...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,M
68163,attheguinnesstap,None,418,1,7.50037E+17,7.50024E+17,1.467660e+12,7/4/2016 11:42,-800,"{'type': 'Point', 'coordinates': [42.676691, -...",...,NaN,NaN,NaN,"[{'screen_name': 'CNN', 'name': 'CNN', 'id': '...",NaN,NaN,NaN,NaN,NaN,NaN
68164,attheguinnesstap,None,419,2,7.49628E+17,7.49628E+17,1.467560e+12,7/3/2016 8:38,-800,"{'type': 'Point', 'coordinates': [42.6767285, ...",...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
68165,attheguinnesstap,None,420,3,7.49627E+17,7.49626E+17,1.467560e+12,7/3/2016 8:34,-800,"{'type': 'Point', 'coordinates': [42.6767223, ...",...,NaN,NaN,NaN,"[{'screen_name': 'TIME', 'name': 'TIME', 'id':...",NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_race_and_gender.drop(['urls', 'photos', 'video', 'thumbnail'], axis = 1, inplace = True)
df_race_and_gender.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis = 1, inplace = True)
df_race_and_gender

,user_fn,user_ln,id,conversation_id,created_at,date,timezone,place,tweet,language,...,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,race/ethnicity,gender
0,s.,p.,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,#WouldYouRather I would rather be swarmed by...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
1,michael,alp,7.95778E+17,7.95439E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@CNNPolitics one more day to listen to Trump's...,en,...,NaN,NaN,NaN,"[{'screen_name': 'CNNPolitics', 'name': 'CNN P...",NaN,NaN,NaN,NaN,NaN,M
2,gabriel,g,7.95778E+17,7.95769E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@JaredWyand @kinni00 Donald Trump is the energ...,en,...,NaN,NaN,NaN,"[{'screen_name': 'JaredWyand', 'name': 'Jared ...",NaN,NaN,NaN,NaN,NaN,M
3,seething,sister,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,"Dudes, the presidential race looks damn close....",en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
4,winton,None,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@JasonMillerinDC You conduct Trump business in...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68161,ldmmia,|,7.9564E+17,7.9564E+17,1.478530e+12,11/7/2016 6:51,-800,"{'type': 'Point', 'coordinates': [42.33166667,...","Bro told me, 1/2 of mi is #voting for Trump. I...",en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
68162,shawn,plummer,7.85811E+17,7.85811E+17,1.476190e+12,10/11/2016 4:55,-800,"{'type': 'Point', 'coordinates': [42.79479867,...",Wow the extent to which Russia is tying to inf...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,M
68163,attheguinnesstap,None,7.50037E+17,7.50024E+17,1.467660e+12,7/4/2016 11:42,-800,"{'type': 'Point', 'coordinates': [42.676691, -...",@CNN Where are Trump's tax returns?What is he ...,en,...,NaN,NaN,NaN,"[{'screen_name': 'CNN', 'name': 'CNN', 'id': '...",NaN,NaN,NaN,NaN,NaN,NaN
68164,attheguinnesstap,None,7.49628E+17,7.49628E+17,1.467560e+12,7/3/2016 8:38,-800,"{'type': 'Point', 'coordinates': [42.6767285, ...",Where are Trump's tax returns? # deceptive Don...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
68165,attheguinnesstap,None,7.49627E+17,7.49626E+17,1.467560e+12,7/3/2016 8:34,-800,"{'type': 'Point', 'coordinates': [42.6767223, ...",@TIME Where are Trump's tax returns? # decepti...,en,...,NaN,NaN,NaN,"[{'screen_name': 'TIME', 'name': 'TIME', 'id':...",NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df_race_and_gender.groupby('race/ethnicity').count()

,user_fn,user_ln,id,conversation_id,created_at,date,timezone,place,tweet,language,...,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,gender
race/ethnicity,,,,,,,,,,,,,,,,,,,,,
api,692,692,692,692,692,692,692,590,692,692,...,0,0,0,0,692,0,0,0,0,423
black,216,216,216,216,216,216,216,216,216,216,...,0,0,0,0,216,0,0,0,0,64
hispanic,1488,1488,1488,1488,1488,1488,1488,1389,1488,1488,...,0,0,0,0,1488,0,0,0,0,1383
white,13993,13993,14128,14128,14128,14128,14128,12629,14128,13994,...,0,0,0,0,13994,0,0,0,0,11708

In [14]:
df_race_and_gender.groupby('gender').count()

,user_fn,user_ln,id,conversation_id,created_at,date,timezone,place,tweet,language,...,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,race/ethnicity
gender,,,,,,,,,,,,,,,,,,,,,
F,14913,13185,14913,14913,14913,14913,14913,12988,14913,14913,...,0,0,0,0,14913,0,0,0,0,4710
M,26115,23955,26115,26115,26115,26115,26115,22995,26115,26115,...,0,0,0,0,26115,0,0,0,0,8868

,user_fn,user_ln,id,conversation_id,created_at,date,timezone,place,tweet,language,...,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,race/ethnicity,gender
1,michael,alp,7.95778E+17,7.95439E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@CNNPolitics one more day to listen to Trump's...,en,...,NaN,NaN,NaN,"[{'screen_name': 'CNNPolitics', 'name': 'CNN P...",NaN,NaN,NaN,NaN,NaN,M
2,gabriel,g,7.95778E+17,7.95769E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@JaredWyand @kinni00 Donald Trump is the energ...,en,...,NaN,NaN,NaN,"[{'screen_name': 'JaredWyand', 'name': 'Jared ...",NaN,NaN,NaN,NaN,NaN,M
3,seething,sister,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,"Dudes, the presidential race looks damn close....",en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
4,winton,None,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@JasonMillerinDC You conduct Trump business in...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,M
5,abby,rich,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,in spanish today we were talking about our tur...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,white,F
6,"davis,",charlie,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,ANONYMOUS LEAK: Israeli Intelligence Has VIDEO...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
7,sarah,silverman,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,NOT voting for Hillary limits progressive powe...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,white,F
8,lvillar,🇲🇽,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,😂 ahorita los latinos conmadre apoyando al tru...,es,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
9,aggroosterteeth,None,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,MicaBurton: RT GavinFree: Feel free to unfollo...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
10,nevada,media,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,Snapchat Lens Makes People Look Like Hillary C...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,F
11,#goodtrouble/necessarytrouble—#johnlewis,None,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,"In Final Appeal to Voters, Clinton Changes Slo...",en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
12,álvaro,jossué,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,Cuando gane trump (si es que gana) y @auronpla...,es,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
13,mike,mosley,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,"Also on the eve of the election, it is time fo...",en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,M
14,chris.roberti,None,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,President Rodham Clinton. Coming at us and I c...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
15,a.,None,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,"Obvio también apoyo a Hillary, pero chavos, pr...",es,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
16,americaneedstrump,None,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,#Hillary used #ClintonFoundation donations to ...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
17,thuggie,None,7.95778E+17,7.95777E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,"@DezDelSol 2. Trump wins, he doesn't make it p...",en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
18,fred,t,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,Blog: Obama reaches another low to help Hillar...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,M
19,travis,neighbor,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,Why does Trump keep saying the #election is ri...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,white,M
20,danny,griffin,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,"""When Hillary was young, her mom taught her th...",en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,M
21,rob,None,7.95778E+17,7.95772E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@slick8851 @LiveEUDebate @SputnikInt If Hillar...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,M
22,glttr,None,7.95778E+17,7.95777E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,FIRST OF ALL THATS FUCKING DUMB SECOND OF ALL ...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
23,robert,marotz,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,Top Clinton Bundlers Were Major Donors to Wife...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,white,M
24,north,bay,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,"If the U.S. candidates were running here, so f...",en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,white,M
25,aziza,kasumov,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,"Schwarz, in der Ära #Trump. Mein Besuch in #Ba...",de,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,F
26,kat,None,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,Somehow Hillary Clinton reminds me of Carol Pe...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,F
27,qurius,george,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,"{'type': 'Point', 'coordinates': [40.0, -100.0]}",GO HILLARY ✔ NO TRUMP🚫 #Tomorrow @ United Sta...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
28,ecb,None,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,Melania Trump's girl-on-girl photos from racy ...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
29,d,devine,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,Cal Thomas: The media are 'enablers of Clinton...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,white,NaN
30,charlie,🦋,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,My restaurant is full of white people voting f...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,M
31,jonny,None,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,Loving @angelascanlon docu on Trump. On the ev...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,M
32,#hocusboguspotus,None,7.95778E+17,7.94679E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@MarkHerron2 @Scottwbeattie @trump4christ Hey...,en,...,NaN,NaN,NaN,"[{'screen_name': 'MarkHerron2', 'name': 'Mark ...",NaN,NaN,NaN,NaN,NaN,NaN
33,heston,k.,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,"Paging The Carter Center, what if Trump refuse...",en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,M
34,patrick,mcgill,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@angelascanlon you do know that bill clinton h...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,M
35,david,None,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,Lineup for Trump: Chachi everyday https://t.c...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,M
36,e.,roman,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,1.)#Trump 2.)#Trump 3.)#Trump Billionaire Narc...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
37,ctm,magazine,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,#CTMNEWS #MIAMI #NYC #HOUSTON Ep. 30: Trump E...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
38,harrison,j.,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@Ostimusic I'm channeling my inner J-Mack as t...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,M
39,karla,simon,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,Optimism From Hillary Clinton and Darkness Fro...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,F
40,meme,crème,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,A Picture for the Mantel | Hillary for New Ham...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,F
41,corey,hutchins,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,Colorado Republican Party sends out mail piece...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,M
42,ben,vineman,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,Listen people! Vote for Hillary and you vote f...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,M
43,sarah,currah,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,Accident on highway 8 between Clinton and holm...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,white,F
44,NaN,NaN,7.95778E+17,7.95378E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@mcristirpc @wolfblitzer @CNNSitRoom Here is v...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,white,NaN
45,false,None,[],[],2.772686e+08,277268550,tonymakesitsafe,Tony Caruso,1,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,adela,None,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,&gt;accidentally goes into a political hashtag...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,F
47,carol,gardiner,7.95778E+17,7.95766E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@KateRobbins Trump and Farage are two cheeks o...,en,...,NaN,NaN,NaN,"[{'screen_name': 'KateRobbins', 'name': 'Kate ...",NaN,NaN,NaN,NaN,white,F
48,tim,apple,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,Remember when Trump claimed FBI insiders told ...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,white,M
49,jorge,frater,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,Deprimente. Que Clinton se saque un 64 de 100 ...,es,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,M
50,tb,None,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,Right! That lie is the one they sold America u...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
51,israel,None,7.95778E+17,7.95777E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@IzZzzZo_O Gonna die of alcohol poisoning if T...,en,...,NaN,NaN,NaN,"[{'screen_name': 'IzZzzZo_O', 'name': 'Israel'...",NaN,NaN,NaN,NaN,NaN,M
52,annie,soprano,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,mom:*ok i need to go vote tomorrow* Nicholas(6...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,white,F
53,turkey,None,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,Fackkk a Hillary cuntan,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
54,ali,nawaz,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,"#USElections2016. Trump in Pennsylvania, ""We h...",en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,api,NaN
55,president-elect,yaakov,7.95778E+17,7.95778E+17,1.478560e+12,11/7/2016 15:59,-800,NaN,@MikePenceVP I'll be voting trump tomorrow,en,...,NaN,NaN,NaN,"[{'screen_name': 'MikePenceVP', 'name': 'The V...",NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
import csv
df_race_and_gender.to_csv('race&gender-2016-all.csv',quoting=csv.QUOTE_ALL)