In [ ]:
#Author: Naina Balepur
#nainab2@illinois.edu
#This file takes 1all_allStates_tweets.csv and labels users with gender and race 
#according to condensed_lastnames.csv and condensed_firstnames.csv

In [1]:
import pandas
import numpy as np

df = pandas.read_csv('1allStates_tweets.csv', encoding='utf8', engine='python')
df

,Unnamed: 0,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,0,1323308238167822338,1323069815880327173,1.604336e+12,2020-11-02 08:57:24,-800,NaN,@JoeBiden So you are not taking back the tax b...,en,['bidenliesabouttaxes'],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'JoeBiden', 'name': 'Joe Bide...",NaN,NaN,NaN,NaN
1,1,1323014312139640833,1323014312139640833,1.604266e+12,2020-11-01 13:29:27,-800,NaN,Two more days of campaigning ads and covid sca...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,2,1321831269991407618,1321810507414818821,1.603984e+12,2020-10-29 08:08:27,-800,NaN,@nashvegas__ Everyone will be paying higher ta...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'nashvegas__', 'name': 'Nash'...",NaN,NaN,NaN,NaN
3,3,1321830002590179329,1321830002590179329,1.603984e+12,2020-10-29 08:03:25,-800,NaN,I swear this man has been reading my mind for ...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,4,1321629643863150592,1321577509704601601,1.603936e+12,2020-10-28 18:47:16,-800,NaN,@TuckerCarlson Joe Biden is not a career polit...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'TuckerCarlson', 'name': 'Tuc...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247830,23,1285911223037501440,1285911223037501440,1.595420e+12,2020-07-22 05:15:01,-800,NaN,Trump genocide he's killing people all over Am...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
247831,24,1285910798548770818,1285910798548770818,1.595420e+12,2020-07-22 05:13:20,-800,NaN,Trump has killed 140000 people can't change th...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
247832,25,1285758027803623424,1285758027803623424,1.595384e+12,2020-07-21 19:06:16,-800,NaN,No one is trying harder than Kemp to kill peop...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
247833,26,1285755913706577925,1285755913706577925,1.595383e+12,2020-07-21 18:57:52,-800,NaN,They are killing kids at border daily Trump is...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
247834,27,1252644543251415041,1250984356023357440,1.587489e+12,2020-04-21 10:05:06,-800,NaN,@baxterpm If it means getting a dig in at trum...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'baxterpm', 'name': 'Paul Bax...",NaN,NaN,NaN,NaN

In [2]:
new = df["name"].str.split(" ", expand = True)

df["user_fn"]= new[0] 
df["user_ln"]= new[1] 

df

,Unnamed: 0,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,...,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,user_fn,user_ln
0,0,1323308238167822338,1323069815880327173,1.604336e+12,2020-11-02 08:57:24,-800,NaN,@JoeBiden So you are not taking back the tax b...,en,['bidenliesabouttaxes'],...,NaN,NaN,NaN,"[{'screen_name': 'JoeBiden', 'name': 'Joe Bide...",NaN,NaN,NaN,NaN,Franklin,Emsley
1,1,1323014312139640833,1323014312139640833,1.604266e+12,2020-11-01 13:29:27,-800,NaN,Two more days of campaigning ads and covid sca...,en,[],...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,G.,William
2,2,1321831269991407618,1321810507414818821,1.603984e+12,2020-10-29 08:08:27,-800,NaN,@nashvegas__ Everyone will be paying higher ta...,en,[],...,NaN,NaN,NaN,"[{'screen_name': 'nashvegas__', 'name': 'Nash'...",NaN,NaN,NaN,NaN,Adam,Morrison
3,3,1321830002590179329,1321830002590179329,1.603984e+12,2020-10-29 08:03:25,-800,NaN,I swear this man has been reading my mind for ...,en,[],...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,Adam,Morrison
4,4,1321629643863150592,1321577509704601601,1.603936e+12,2020-10-28 18:47:16,-800,NaN,@TuckerCarlson Joe Biden is not a career polit...,en,[],...,NaN,NaN,NaN,"[{'screen_name': 'TuckerCarlson', 'name': 'Tuc...",NaN,NaN,NaN,NaN,Mary,Bridges
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247830,23,1285911223037501440,1285911223037501440,1.595420e+12,2020-07-22 05:15:01,-800,NaN,Trump genocide he's killing people all over Am...,en,[],...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,Pirate,in
247831,24,1285910798548770818,1285910798548770818,1.595420e+12,2020-07-22 05:13:20,-800,NaN,Trump has killed 140000 people can't change th...,en,[],...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,Pirate,in
247832,25,1285758027803623424,1285758027803623424,1.595384e+12,2020-07-21 19:06:16,-800,NaN,No one is trying harder than Kemp to kill peop...,en,[],...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,Pirate,in
247833,26,1285755913706577925,1285755913706577925,1.595383e+12,2020-07-21 18:57:52,-800,NaN,They are killing kids at border daily Trump is...,en,[],...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,Pirate,in
247834,27,1252644543251415041,1250984356023357440,1.587489e+12,2020-04-21 10:05:06,-800,NaN,@baxterpm If it means getting a dig in at trum...,en,[],...,NaN,NaN,NaN,"[{'screen_name': 'baxterpm', 'name': 'Paul Bax...",NaN,NaN,NaN,NaN,Optimistic,Moondog

In [3]:
df_race = pandas.read_csv('condensed_lastnames.csv', header=None)
df_race.columns = ["last_names", "race/ethnicity"]
df_race

         last_names race/ethnicity
0            MILLER          white
1            MURPHY          white
2              COOK          white
3          PETERSON          white
4               COX          white
...             ...            ...
136051  CHILLOGALLO       hispanic
136052  CUATIANQUIZ       hispanic
136053       DICENT       hispanic
136054   DELATEJERA       hispanic
136055        EGUES       hispanic

[136056 rows x 2 columns]

In [4]:
df["user_ln"] = df["user_ln"].str.lower()
df_tweets_ln = df.set_index('user_ln')

df_race["last_names"] = df_race["last_names"].str.lower()
df_race_ln = df_race.set_index('last_names')

df_tweets_ln[['race/ethnicity']] = df_race_ln[['race/ethnicity']]
df_tweets_ln

,Unnamed: 0,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,...,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,user_fn,race/ethnicity
user_ln,,,,,,,,,,,,,,,,,,,,,
emsley,0,1323308238167822338,1323069815880327173,1.604336e+12,2020-11-02 08:57:24,-800,NaN,@JoeBiden So you are not taking back the tax b...,en,['bidenliesabouttaxes'],...,NaN,NaN,NaN,"[{'screen_name': 'JoeBiden', 'name': 'Joe Bide...",NaN,NaN,NaN,NaN,Franklin,white
william,1,1323014312139640833,1323014312139640833,1.604266e+12,2020-11-01 13:29:27,-800,NaN,Two more days of campaigning ads and covid sca...,en,[],...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,G.,NaN
morrison,2,1321831269991407618,1321810507414818821,1.603984e+12,2020-10-29 08:08:27,-800,NaN,@nashvegas__ Everyone will be paying higher ta...,en,[],...,NaN,NaN,NaN,"[{'screen_name': 'nashvegas__', 'name': 'Nash'...",NaN,NaN,NaN,NaN,Adam,NaN
morrison,3,1321830002590179329,1321830002590179329,1.603984e+12,2020-10-29 08:03:25,-800,NaN,I swear this man has been reading my mind for ...,en,[],...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,Adam,NaN
bridges,4,1321629643863150592,1321577509704601601,1.603936e+12,2020-10-28 18:47:16,-800,NaN,@TuckerCarlson Joe Biden is not a career polit...,en,[],...,NaN,NaN,NaN,"[{'screen_name': 'TuckerCarlson', 'name': 'Tuc...",NaN,NaN,NaN,NaN,Mary,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
in,23,1285911223037501440,1285911223037501440,1.595420e+12,2020-07-22 05:15:01,-800,NaN,Trump genocide he's killing people all over Am...,en,[],...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,Pirate,api
in,24,1285910798548770818,1285910798548770818,1.595420e+12,2020-07-22 05:13:20,-800,NaN,Trump has killed 140000 people can't change th...,en,[],...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,Pirate,api
in,25,1285758027803623424,1285758027803623424,1.595384e+12,2020-07-21 19:06:16,-800,NaN,No one is trying harder than Kemp to kill peop...,en,[],...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,Pirate,api
in,26,1285755913706577925,1285755913706577925,1.595383e+12,2020-07-21 18:57:52,-800,NaN,They are killing kids at border daily Trump is...,en,[],...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,Pirate,api
moondog,27,1252644543251415041,1250984356023357440,1.587489e+12,2020-04-21 10:05:06,-800,NaN,@baxterpm If it means getting a dig in at trum...,en,[],...,NaN,NaN,NaN,"[{'screen_name': 'baxterpm', 'name': 'Paul Bax...",NaN,NaN,NaN,NaN,Optimistic,NaN

In [5]:
df_with_race = df_tweets_ln.reset_index()
df_with_race

,user_ln,Unnamed: 0,id,conversation_id,created_at,date,timezone,place,tweet,language,...,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,user_fn,race/ethnicity
0,emsley,0,1323308238167822338,1323069815880327173,1.604336e+12,2020-11-02 08:57:24,-800,NaN,@JoeBiden So you are not taking back the tax b...,en,...,NaN,NaN,NaN,"[{'screen_name': 'JoeBiden', 'name': 'Joe Bide...",NaN,NaN,NaN,NaN,Franklin,white
1,william,1,1323014312139640833,1323014312139640833,1.604266e+12,2020-11-01 13:29:27,-800,NaN,Two more days of campaigning ads and covid sca...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,G.,NaN
2,morrison,2,1321831269991407618,1321810507414818821,1.603984e+12,2020-10-29 08:08:27,-800,NaN,@nashvegas__ Everyone will be paying higher ta...,en,...,NaN,NaN,NaN,"[{'screen_name': 'nashvegas__', 'name': 'Nash'...",NaN,NaN,NaN,NaN,Adam,NaN
3,morrison,3,1321830002590179329,1321830002590179329,1.603984e+12,2020-10-29 08:03:25,-800,NaN,I swear this man has been reading my mind for ...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,Adam,NaN
4,bridges,4,1321629643863150592,1321577509704601601,1.603936e+12,2020-10-28 18:47:16,-800,NaN,@TuckerCarlson Joe Biden is not a career polit...,en,...,NaN,NaN,NaN,"[{'screen_name': 'TuckerCarlson', 'name': 'Tuc...",NaN,NaN,NaN,NaN,Mary,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247830,in,23,1285911223037501440,1285911223037501440,1.595420e+12,2020-07-22 05:15:01,-800,NaN,Trump genocide he's killing people all over Am...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,Pirate,api
247831,in,24,1285910798548770818,1285910798548770818,1.595420e+12,2020-07-22 05:13:20,-800,NaN,Trump has killed 140000 people can't change th...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,Pirate,api
247832,in,25,1285758027803623424,1285758027803623424,1.595384e+12,2020-07-21 19:06:16,-800,NaN,No one is trying harder than Kemp to kill peop...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,Pirate,api
247833,in,26,1285755913706577925,1285755913706577925,1.595383e+12,2020-07-21 18:57:52,-800,NaN,They are killing kids at border daily Trump is...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,Pirate,api
247834,moondog,27,1252644543251415041,1250984356023357440,1.587489e+12,2020-04-21 10:05:06,-800,NaN,@baxterpm If it means getting a dig in at trum...,en,...,NaN,NaN,NaN,"[{'screen_name': 'baxterpm', 'name': 'Paul Bax...",NaN,NaN,NaN,NaN,Optimistic,NaN

In [6]:
df_with_race.groupby('race/ethnicity').count()

,user_ln,Unnamed: 0,id,conversation_id,created_at,date,timezone,place,tweet,language,...,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,user_fn
race/ethnicity,,,,,,,,,,,,,,,,,,,,,
aian,35,35,35,35,35,35,35,0,35,35,...,0,0,0,0,35,0,0,0,0,35
api,2220,2220,2220,2220,2220,2220,2220,12,2220,2220,...,0,0,0,0,2220,0,0,0,0,2220
black,500,500,500,500,500,500,500,3,500,500,...,0,0,0,0,500,0,0,0,0,500
hispanic,4552,4552,4552,4552,4552,4552,4552,51,4552,4552,...,0,0,0,0,4552,0,0,0,0,4552
white,59322,59330,59330,59330,59330,59330,59330,531,59330,59330,...,0,0,0,0,59330,0,0,0,0,59322

In [7]:
df_gender = pandas.read_csv('condensed_first_names.csv', header=None)
df_gender.columns = ['firstnames', 'gender', 'count', 'grouped', 'grouped_percent']
df_gender.drop(['count', 'grouped', 'grouped_percent'], axis = 1, inplace = True)
df_gender

      firstnames gender
0          James      M
1           John      M
2         Robert      M
3        Michael      M
4           Mary      F
...          ...    ...
90803    Crettie      F
90804   Jolieann      F
90805     Lonika      F
90806     Jolian      M
90807      Zzyzx      M

[90808 rows x 2 columns]

In [8]:
df_with_race["user_fn"] = df_with_race["user_fn"].str.lower()
df_tweets_fn = df_with_race.set_index('user_fn')
display(df_tweets_fn)

df_gender["firstnames"] = df_gender["firstnames"].str.lower()
df_gender_fn = df_gender.set_index('firstnames')
display(df_gender_fn)

df_tweets_fn[['gender']] = df_gender_fn[['gender']]

,user_ln,Unnamed: 0,id,conversation_id,created_at,date,timezone,place,tweet,language,...,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,race/ethnicity
user_fn,,,,,,,,,,,,,,,,,,,,,
franklin,emsley,0,1323308238167822338,1323069815880327173,1.604336e+12,2020-11-02 08:57:24,-800,NaN,@JoeBiden So you are not taking back the tax b...,en,...,NaN,NaN,NaN,NaN,"[{'screen_name': 'JoeBiden', 'name': 'Joe Bide...",NaN,NaN,NaN,NaN,white
g.,william,1,1323014312139640833,1323014312139640833,1.604266e+12,2020-11-01 13:29:27,-800,NaN,Two more days of campaigning ads and covid sca...,en,...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN
adam,morrison,2,1321831269991407618,1321810507414818821,1.603984e+12,2020-10-29 08:08:27,-800,NaN,@nashvegas__ Everyone will be paying higher ta...,en,...,NaN,NaN,NaN,NaN,"[{'screen_name': 'nashvegas__', 'name': 'Nash'...",NaN,NaN,NaN,NaN,NaN
adam,morrison,3,1321830002590179329,1321830002590179329,1.603984e+12,2020-10-29 08:03:25,-800,NaN,I swear this man has been reading my mind for ...,en,...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN
mary,bridges,4,1321629643863150592,1321577509704601601,1.603936e+12,2020-10-28 18:47:16,-800,NaN,@TuckerCarlson Joe Biden is not a career polit...,en,...,NaN,NaN,NaN,NaN,"[{'screen_name': 'TuckerCarlson', 'name': 'Tuc...",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
pirate,in,23,1285911223037501440,1285911223037501440,1.595420e+12,2020-07-22 05:15:01,-800,NaN,Trump genocide he's killing people all over Am...,en,...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,api
pirate,in,24,1285910798548770818,1285910798548770818,1.595420e+12,2020-07-22 05:13:20,-800,NaN,Trump has killed 140000 people can't change th...,en,...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,api
pirate,in,25,1285758027803623424,1285758027803623424,1.595384e+12,2020-07-21 19:06:16,-800,NaN,No one is trying harder than Kemp to kill peop...,en,...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,api
pirate,in,26,1285755913706577925,1285755913706577925,1.595383e+12,2020-07-21 18:57:52,-800,NaN,They are killing kids at border daily Trump is...,en,...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,api
optimistic,moondog,27,1252644543251415041,1250984356023357440,1.587489e+12,2020-04-21 10:05:06,-800,NaN,@baxterpm If it means getting a dig in at trum...,en,...,NaN,NaN,NaN,NaN,"[{'screen_name': 'baxterpm', 'name': 'Paul Bax...",NaN,NaN,NaN,NaN,NaN

           gender
firstnames
james           M
john            M
robert          M
michael         M
mary            F
...           ...
crettie         F
jolieann        F
lonika          F
jolian          M
zzyzx           M

[90808 rows x 1 columns]

In [9]:
df_tweets_fn

,user_ln,Unnamed: 0,id,conversation_id,created_at,date,timezone,place,tweet,language,...,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,race/ethnicity,gender
user_fn,,,,,,,,,,,,,,,,,,,,,
franklin,emsley,0,1323308238167822338,1323069815880327173,1.604336e+12,2020-11-02 08:57:24,-800,NaN,@JoeBiden So you are not taking back the tax b...,en,...,NaN,NaN,NaN,"[{'screen_name': 'JoeBiden', 'name': 'Joe Bide...",NaN,NaN,NaN,NaN,white,M
g.,william,1,1323014312139640833,1323014312139640833,1.604266e+12,2020-11-01 13:29:27,-800,NaN,Two more days of campaigning ads and covid sca...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
adam,morrison,2,1321831269991407618,1321810507414818821,1.603984e+12,2020-10-29 08:08:27,-800,NaN,@nashvegas__ Everyone will be paying higher ta...,en,...,NaN,NaN,NaN,"[{'screen_name': 'nashvegas__', 'name': 'Nash'...",NaN,NaN,NaN,NaN,NaN,M
adam,morrison,3,1321830002590179329,1321830002590179329,1.603984e+12,2020-10-29 08:03:25,-800,NaN,I swear this man has been reading my mind for ...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,M
mary,bridges,4,1321629643863150592,1321577509704601601,1.603936e+12,2020-10-28 18:47:16,-800,NaN,@TuckerCarlson Joe Biden is not a career polit...,en,...,NaN,NaN,NaN,"[{'screen_name': 'TuckerCarlson', 'name': 'Tuc...",NaN,NaN,NaN,NaN,NaN,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
pirate,in,23,1285911223037501440,1285911223037501440,1.595420e+12,2020-07-22 05:15:01,-800,NaN,Trump genocide he's killing people all over Am...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,api,NaN
pirate,in,24,1285910798548770818,1285910798548770818,1.595420e+12,2020-07-22 05:13:20,-800,NaN,Trump has killed 140000 people can't change th...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,api,NaN
pirate,in,25,1285758027803623424,1285758027803623424,1.595384e+12,2020-07-21 19:06:16,-800,NaN,No one is trying harder than Kemp to kill peop...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,api,NaN
pirate,in,26,1285755913706577925,1285755913706577925,1.595383e+12,2020-07-21 18:57:52,-800,NaN,They are killing kids at border daily Trump is...,en,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,api,NaN
optimistic,moondog,27,1252644543251415041,1250984356023357440,1.587489e+12,2020-04-21 10:05:06,-800,NaN,@baxterpm If it means getting a dig in at trum...,en,...,NaN,NaN,NaN,"[{'screen_name': 'baxterpm', 'name': 'Paul Bax...",NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_race_and_gender = df_tweets_fn.reset_index()

In [11]:
df_race_and_gender

,user_fn,user_ln,Unnamed: 0,id,conversation_id,created_at,date,timezone,place,tweet,...,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,race/ethnicity,gender
0,franklin,emsley,0,1323308238167822338,1323069815880327173,1.604336e+12,2020-11-02 08:57:24,-800,NaN,@JoeBiden So you are not taking back the tax b...,...,NaN,NaN,NaN,"[{'screen_name': 'JoeBiden', 'name': 'Joe Bide...",NaN,NaN,NaN,NaN,white,M
1,g.,william,1,1323014312139640833,1323014312139640833,1.604266e+12,2020-11-01 13:29:27,-800,NaN,Two more days of campaigning ads and covid sca...,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN
2,adam,morrison,2,1321831269991407618,1321810507414818821,1.603984e+12,2020-10-29 08:08:27,-800,NaN,@nashvegas__ Everyone will be paying higher ta...,...,NaN,NaN,NaN,"[{'screen_name': 'nashvegas__', 'name': 'Nash'...",NaN,NaN,NaN,NaN,NaN,M
3,adam,morrison,3,1321830002590179329,1321830002590179329,1.603984e+12,2020-10-29 08:03:25,-800,NaN,I swear this man has been reading my mind for ...,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,M
4,mary,bridges,4,1321629643863150592,1321577509704601601,1.603936e+12,2020-10-28 18:47:16,-800,NaN,@TuckerCarlson Joe Biden is not a career polit...,...,NaN,NaN,NaN,"[{'screen_name': 'TuckerCarlson', 'name': 'Tuc...",NaN,NaN,NaN,NaN,NaN,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247830,pirate,in,23,1285911223037501440,1285911223037501440,1.595420e+12,2020-07-22 05:15:01,-800,NaN,Trump genocide he's killing people all over Am...,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,api,NaN
247831,pirate,in,24,1285910798548770818,1285910798548770818,1.595420e+12,2020-07-22 05:13:20,-800,NaN,Trump has killed 140000 people can't change th...,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,api,NaN
247832,pirate,in,25,1285758027803623424,1285758027803623424,1.595384e+12,2020-07-21 19:06:16,-800,NaN,No one is trying harder than Kemp to kill peop...,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,api,NaN
247833,pirate,in,26,1285755913706577925,1285755913706577925,1.595383e+12,2020-07-21 18:57:52,-800,NaN,They are killing kids at border daily Trump is...,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,api,NaN
247834,optimistic,moondog,27,1252644543251415041,1250984356023357440,1.587489e+12,2020-04-21 10:05:06,-800,NaN,@baxterpm If it means getting a dig in at trum...,...,NaN,NaN,NaN,"[{'screen_name': 'baxterpm', 'name': 'Paul Bax...",NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df_race_and_gender.drop(['urls', 'photos', 'video', 'thumbnail'], axis = 1, inplace = True)
df_race_and_gender

,date,place,tweet,language,hashtags,username,name,link,retweet,search,near,reply_to,race/ethnicity,gender
0,2020-11-02 08:57:24,NaN,@JoeBiden So you are not taking back the tax b...,en,['bidenliesabouttaxes'],frankemsley,Franklin Emsley,https://twitter.com/frankemsley/status/1323308...,False,trump OR biden,"Albertville, Alabama","[{'screen_name': 'JoeBiden', 'name': 'Joe Bide...",white,M
1,2020-11-01 13:29:27,NaN,Two more days of campaigning ads and covid sca...,en,[],Gknott1970,G. William Knott,https://twitter.com/Gknott1970/status/13230143...,False,trump OR biden,"Albertville, Alabama",[],NaN,NaN
2,2020-10-29 08:08:27,NaN,@nashvegas__ Everyone will be paying higher ta...,en,[],wAdam_M,Adam Morrison,https://twitter.com/wAdam_M/status/13218312699...,False,trump OR biden,"Albertville, Alabama","[{'screen_name': 'nashvegas__', 'name': 'Nash'...",NaN,M
3,2020-10-29 08:03:25,NaN,I swear this man has been reading my mind for ...,en,[],wAdam_M,Adam Morrison,https://twitter.com/wAdam_M/status/13218300025...,False,trump OR biden,"Albertville, Alabama",[],NaN,M
4,2020-10-28 18:47:16,NaN,@TuckerCarlson Joe Biden is not a career polit...,en,[],MaryBriBri61,Mary Bridges,https://twitter.com/MaryBriBri61/status/132162...,False,trump OR biden,"Albertville, Alabama","[{'screen_name': 'TuckerCarlson', 'name': 'Tuc...",NaN,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247830,2020-07-22 05:15:01,NaN,Trump genocide he's killing people all over Am...,en,[],keffberrystrien,Pirate in the desert,https://twitter.com/keffberrystrien/status/128...,False,trump OR biden,"Buffalo, Wyoming",[],api,NaN
247831,2020-07-22 05:13:20,NaN,Trump has killed 140000 people can't change th...,en,[],keffberrystrien,Pirate in the desert,https://twitter.com/keffberrystrien/status/128...,False,trump OR biden,"Buffalo, Wyoming",[],api,NaN
247832,2020-07-21 19:06:16,NaN,No one is trying harder than Kemp to kill peop...,en,[],keffberrystrien,Pirate in the desert,https://twitter.com/keffberrystrien/status/128...,False,trump OR biden,"Buffalo, Wyoming",[],api,NaN
247833,2020-07-21 18:57:52,NaN,They are killing kids at border daily Trump is...,en,[],keffberrystrien,Pirate in the desert,https://twitter.com/keffberrystrien/status/128...,False,trump OR biden,"Buffalo, Wyoming",[],api,NaN
247834,2020-04-21 10:05:06,NaN,@baxterpm If it means getting a dig in at trum...,en,[],thelonewolffft2,Optimistic Moondog,https://twitter.com/thelonewolffft2/status/125...,False,trump OR biden,"Buffalo, Wyoming","[{'screen_name': 'baxterpm', 'name': 'Paul Bax...",NaN,NaN

In [26]:
df_race_and_gender.groupby('race/ethnicity').count()

,date,place,tweet,language,hashtags,username,name,link,retweet,search,near,reply_to,gender
race/ethnicity,,,,,,,,,,,,,
aian,35,0,35,35,35,35,35,35,35,35,35,35,13
api,2220,12,2220,2220,2220,2220,2220,2220,2220,2220,2220,2220,1170
black,500,3,500,500,500,500,500,500,500,500,500,500,391
hispanic,4552,51,4552,4552,4552,4552,4552,4552,4552,4552,4552,4552,4200
white,59330,531,59330,59330,59330,59330,59322,59330,59330,59330,59330,59330,51970

In [27]:
df_race_and_gender.groupby('gender').count()

,date,place,tweet,language,hashtags,username,name,link,retweet,search,near,reply_to,race/ethnicity
gender,,,,,,,,,,,,,
F,60772,443,60772,60772,60772,60772,60772,60772,60772,60772,60772,60772,20531
M,99140,952,99140,99140,99140,99140,99140,99140,99140,99140,99140,99140,37213

In [28]:
import csv
df_race_and_gender.to_csv('race&gender-2020-all.csv',quoting=csv.QUOTE_ALL)